<head>
  <title>Raito~boader</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
</head>

<body style="background-color: #020210; color: #cccccc;">


  {% if msg %}
  <div style="background-color: #aa0000; color: white; border: 20px ridge #008888; padding: 1em;">
    {{ msg }}
  </div>
  {% endif %}
  
  <div>
    <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
      <h2>Upload a file</h2>
      <p><input type="file" name="file"></p>
      <p><label for="description">Description: <input size="80" type="text" name="description"></p>
      <input type="hidden" name="delete_password" value="">
      {% csrf_token %}
      <p><input type="submit" value="upload already"></p>
    </form>
  </div>
  
  <hr>
  
  <h2>Files</h2>

  <table style="border: 10px outset #66ff22; background-color: #ffffee; color: black; padding: 10px;">
    <tr>
      <td colspan="5" style="padding: 1px; margin: 0px; background-color: #eea;">
      </td>
    </tr>
    
    {% for file in files %}
    <tr>
      <td style="padding: 8px;">
        {% if file.filename in deletable_files %}
        <form style="margin: 0" method="POST" action="{% url 'delete' %}">
          <input type="hidden" name="filename" value="{{ file.filename }}">
          [<a href="#" onclick="this.parentNode.submit()">D</a>]
          {% csrf_token %}
        </form>
        {% endif %}
      </td>
      <td style="padding: 8px;"><a href="{% url 'sendfile' file.filename %}">{{ file.filename }}</a></td>
      <td style="padding: 8px;">{{ file.metadata.description }}</td>
      <td style="padding: 8px;">{{ file.size }}</td>
      <td style="padding: 8px;" class="file_date" data-epoch="{{ file.date }}"></td>
    </tr>

    <tr>
      <td colspan="5" style="padding: 1px; margin: 0px; background-color: #eea;">
      </td>
    </tr>
    {% endfor %}
    
  </table>

</body>

<script type="text/javascript">

var tz = jstz.determine();

function time_to_localtime(time) {
    return time;
}

function update_times() {
    var file_date_tags = document.getElementsByClassName("file_date");
    
    for (var i = 0; i < file_date_tags.length; i++) {
        var tag = file_date_tags[i];
        var when = moment(new Date(1000 * parseInt(time_to_localtime(tag.getAttribute("data-epoch")))));
        tag.textContent = when.format('MMMM D, YYYY, h:mm:ss a') + " // " + when.fromNow();
    }
}

update_times();

</script>
